/*
GENERALI (questi settaggi consentono di avere lo schermo del mio smartphone centrato) 
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 25, 70);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.window1-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    background-color: rgb(15, 15, 15);
    /* border: 1.5px solid rgb(116, 116, 116); */
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px rgba(71, 71, 71, 0.5);
    position: absolute;
    z-index: 1;
}

/* SEZIONE 1 DI FINESTRA 1 */

.sezione1_1 {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 85px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
    color: white;
    text-align: center;
    font-size: 30px;
}

/* FORM DELL'INPUT */

#input-budget {
    margin-top: 12px;
    width: 240px;
    height: 55px;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-size: 30px;
    border: 0;
    padding: 0;
    outline: 0;
}

#input-budget[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#input-budget::placeholder {
    color: rgb(255, 53, 121);
    opacity: 1; 
    font-size: 20px;
}

#input-budget::-webkit-input-placeholder {
    text-align: center;
}

.initialBudget {
    margin-top: 20px;
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-size: 30px;

}

/* SEZIONE 2 DI FINESTRA 1 */

.sezione2_1 {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 390px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
}

.div4label {
height: 35px;
margin-left: 20px;
margin-top: 10px;
}

.label_expenses {
    color: rgb(255, 53, 121);
    font-size: 20px;
}

.divExpList {
    background-color: rgb(15, 15, 15);
    height: 365px;
    width: 20rem;
    display: flex;
    flex-direction: column;

}

.list {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    height: 365px;
    width: 20rem;   
}



/* LAYOUT DELLA LIST ITEM CREATA DINAMICAMENTE */

.listExpItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem; 
    height: 40px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
    color: rgba(116, 116, 116, 0.479);
    list-style-type: none;
}

.divElem {
    display: flex;
    flex-direction: row;
    width: 205px; 
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    color: white;
}

.pToe {
    margin-left: 5px;
}

.divtextToPayment {
    color: rgba(116, 116, 116, 0.479)
}

.textToPayment {
    color: rgba(116, 116, 116, 0.479)
}

.div2btns {
    display: flex;
    align-items: center;
    height: 30px;
    width: 115px;
    margin-left: 0px;
}

.btnEdit, .btnDelete {
    width: 50px;
    height: 25px;
    background-color: rgb(15, 15, 15);
    color: rgba(138, 133, 133, 0.479);
    font-size: 14px;
    border: 1px solid rgba(116, 116, 116, 0.479);
    outline: 0;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btnEdit {
    margin-right: 5px;
}

.btnEdit:hover {
    background-color: rgb(204, 34, 91);
    color: white;
}

.btnDelete:hover {
    background-color: rgb(204, 34, 91);
    color: white;
}

/* SEZIONE 3 DI FINESTRA 1 */

.sezione3_1 {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 85px;
}

.settlePayBtn {
    background-color: rgb(255, 53, 121);
    margin-top: 12px;
    border: 0;
    outline: 0;
    height: 50px;
    width: 17rem;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1025em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.settlePayBtn:hover {
    background-color: rgb(204, 34, 91);
}

/* FINESTRA 2 */

.window2-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    background-color: rgb(15, 15, 15);
    /* border: 1.5px solid rgb(116, 116, 116); */
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px rgba(71, 71, 71, 0.5);
}

/* SEZIONE 1 */

.sezione1_2 {
    display: flex;
    justify-content: flex-start;
    width: 20rem;
    height: 85px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
}

.divCancel {
    background-color: rgb(15, 15, 15) ;
    height: 35px;
    margin-top: 27px;
    margin-left: 15px;
    cursor: pointer;
}

.cancel {
    color: rgb(255, 53, 121);
    font-size: 18px;
}

.divNewexpense {
    background-color: rgb(15, 15, 15);
    margin-top: 27px;
    margin-left: 12px;
    height: 30px;
    width: 8rem;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

/* SEZIONE 2 DI FINESTRA 2 */

.sezione2_2 {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 130px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
}

.labelWhat {
    color: rgb(255, 53, 121);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

#input-toe {
    height: 50px;
    width: 260px;
    background-color: rgb(15, 15, 15);
    margin-top: 5px;
    margin-left: 35px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 22px;
}

#input-toe::placeholder {
    color: rgba(116, 116, 116, 0.479);
    opacity: 1; 
    font-size: 20px;
}

/* SEZIONE 3 DI FINESTRA 2 */

.sezione3_2 {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 130px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.479);
}

.divLabelCost{
    color: rgb(255, 53, 121);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

#input-cost {
    height: 50px;
    width: 260px;
    background-color: rgb(15, 15, 15);
    margin-top: 5px;
    margin-left: 35px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 22px;
}

#input-cost::placeholder {
    color: rgba(116, 116, 116, 0.479);
    opacity: 1; 
    font-size: 20px;
}

#input-cost[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* SEZIONE 4 DI FINESTRA 2 */

.sezione4_2 {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 130px;
}

.div-top {
    color: rgb(255, 53, 121);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
}

.div3btns {
    display: inline-block;
    height: 45px;
    margin-top: 20px;
    margin-left: 35px;
}

.btn1, .btn2, .btn3 {
    width: 81px;
    height: 35px;
    background-color: rgb(15, 15, 15);
    color: rgba(138, 133, 133, 0.479);
    font-size: 14px;
    border: 1px solid rgba(116, 116, 116, 0.479);
    outline: 0;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn1:hover {
    background-color: rgb(255, 53, 121);
    color: white;
  }

.btn2:hover {
    background-color: rgb(255, 53, 121);
    color: white;
  }
  
.btn3:hover {
    background-color: rgb(255, 53, 121);
    color: white;
  }

/* ASSEGNO UNA CLASSE DINAMICA AI TRE BUTTONS */

.topSelected {
    width: 81px;
    height: 35px;
    background-color: rgb(255, 53, 121);
    color: white;
    font-size: 14px;
    border: 1px solid rgba(116, 116, 116, 0.479);
    outline: 0;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/* SEZIONE 5 DI FINESTRA 2 */

.sezione5_2 {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 85px;
    border-top: 1px solid rgba(116, 116, 116, 0.479)
}

.confirmBtn, .BigEditBtn {
    background-color: rgb(255, 53, 121);
    margin-top: 12px;
    border: 0;
    outline: 0;
    height: 50px;
    width: 17rem;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1325em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.confirmBtn:hover {
    background-color: rgb(204, 34, 91);
}

.BigEditBtn:hover {
    background-color: rgb(204, 34, 91);
}

